@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: "Editorial thin Italic";
    src: url(../fonts/PPEditorialNew-ThinItalic.otf);
}
h1 {
    font-family: "Editorial thin Italic";
    font-size: 30pt;
    padding-bottom: 6pt;
}

h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 10pt;
    padding-bottom: 6pt;
}

h3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 10pt;
    font-weight: 00;
    padding-bottom: 6pt;
}

p {
    font-family: Inter;
    font-weight: 400;
    font-size: 9pt;
    line-height: 12pt;
    padding-bottom: 20px;
}

@media (width > 770px) {
 
    h1 {
        font-size: 40pt;
    }
    h2 {
        font-family: Inter;
        font-weight: 400;
        font-size: 15pt;
        padding-bottom: 6pt;
    }

    p {
        font-family: Inter;
        font-weight: 400;
        font-size: 10pt;
        line-height: 13pt;
    }
}

header {
    font-family: Inter;
    font-size: 17pt;
}


.footer {
font-family: Inter;
font-size: 9pt;
}

.footer :nth-child(1){
    font-family: "Editorial thin Italic";
    font-size: 12pt;
    font-weight: 400;
    }
    
    a {
        color: black;
      }