img {
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  height: auto;
}

.galleri_flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tobilleder_flex {
display: flex;
gap: 15px;
}

.firebilleder_flex {
  display: block;
}


@media (width > 770px) {

  .firebilleder_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    }
/* 
    #moodboardufo {
      width: 50vw;
    } */

}
