* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

img {
  height: 100%;
}
body {
  background-color: #e7ffcf;
  margin-left: 20pt;
  margin-right: 20pt;
}

main {
  margin: 0 25px 0px 25px;
}

/* Header u. media query*/

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.logo img {
  width: 60px;
  height: 75px;
}

.menu_items {
  display: none;
  text-decoration: underline;
  line-height: 30pt;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 28px;
  background-color: black;
}

.burger_items {
  display: flex;
  flex-direction: column;
  line-height: 27pt;
}

.menu-wrapper {
  margin-right: 15pt;
  margin-top: -40pt;
  text-align: right;
  z-index: 2;
  position: absolute;
  right: 5px;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.footer {
  padding-top: 100px;
}

/* header bredformat */

@media (width > 770px) {
  .burger {
    display: none;
  }

  .menu_items {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .burger_items {
    display: none;
  }
}

/* footer */

.footer {
  margin-top: 40px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* projektside */

.projekter_nav {
  margin-top: -100px;
  padding-bottom: 2em;
  cursor: pointer;
  text-align: center;
}

.projekter_nav button {
  background-color: transparent;
  border: solid;
  border-width: 1.4px;
  height: 30px;
  border-radius: 30px;
  font-size: 13pt;
  padding: 0 10px 0 10px;
}

.projekter_btns:hover {
  background-color: #79ff8d;
}

img {
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  height: auto;
}

.galleri_flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tobilleder_flex {
  display: flex;
  gap: 15px;
}

.firebilleder_flex {
  display: block;
  gap: 20px;
}

.projekter_body header {
  padding-bottom: 7em;
}

.link {
  text-decoration: underline;
}

.tekst_projekter {
  padding-bottom: 2em;
}

.button_gif {
  width: 200px;
  display: block;
  margin: auto;
}

.moodboard {
  padding-bottom: 40px;
}

.moodboard p {
  width: 50vw;
}

.moodboard img {
  width: 50vw;
  padding-bottom: 10px;
}
/* bredformat site */

@media (width > 770px) {

  /* tekstdel + link*/
  .tekst_projekter p {
    width: 50vw;
  }

  .tekst_galleri {
    padding-top: 2em;
    width: 50vw;
    padding-bottom: 4em;
  }

  .tekst_projekter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: em;
  }

  .button_gif {
    padding-right: 100px;
    width: 220px;
  }

  /* moodboard*/

  .moodboard {
    display: flex;
    gap: 20px;
  }
  .moodboard img {
    width: 35vw;
  }

  .moodboard p {
    width: 25vw;
  }

  /* galleri*/

  .firebilleder_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
}

/* kodetsite */

#kodetsite .projekter_btns:nth-child(1) {
  background-color: #79ff8d;
}

#webdesign .projekter_btns:nth-child(4) {
  background-color: #79ff8d;
}

#animation .projekter_btns:nth-child(7) {
  background-color: #79ff8d;
}

#video .projekter_btns:nth-child(10) {
  background-color: #79ff8d;
}

#rebranding .projekter_btns:nth-child(13) {
  background-color: #79ff8d;
}

/* video */


#oejne {
  width: 35vw;
}

.flex_2-2 {
  display: flex;
  gap: 15px;
}

@media ( width>830px) {
.projekter_nav {
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
  padding: 0px 100px 100px 100px;
}
}

