* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

img {
  height: 100%;
}
body {
  background-color: #e7ffcf;
  margin-left: 20pt;
  margin-right: 20pt;
}

main {
  margin: 0 25px 0px 25px;
}

/* Header u. media query*/

.header {

  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.logo img{
 width: 60px;
height: 75px;
}

.menu_items {
  display: none;
  text-decoration: underline;
  line-height: 30pt;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 28px;
  background-color: black;
}

.burger_items {
  display: flex;
  flex-direction: column;
  line-height: 27pt;
}

.menu-wrapper {
  margin-right: 15pt;
  margin-top: -40pt;
  text-align: right;
  z-index: 2;
  position: absolute;
  right: 5px;
  text-decoration: underline;

}


.hidden {
  display: none;
}

/* header bredformat */

@media (width > 770px) {
  .burger {
    display: none;
  }

  .menu_items {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .burger_items {
    display: none;
  }
}

/* footer */

.footer {
  margin-top: 40px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* projektside */


.projekter_body header{
padding-bottom: 7em;
}

.link {
  text-decoration: underline;
}

.tekst_projekter {
  padding-bottom: 2em;
}

.tekst_projekter p{
  padding-top: 10px;

}

/* bredformat site */


@media (width > 770px) {
  .tekst_projekter p {
    width: 600px;
padding-top: 20px;
  }

  .tekst_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

}

